.App {
  border: 1px solid green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectContainer{
  /* border: 1px solid green; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.dateDropDown{
  /* background-color: green; */
  text-align: center;
  width: 100px;
  margin-left: 4px;
}
